<ibm-header name="Technical Test">
    <ibm-header-navigation ariaLabel="Navigation Menu">
        <ibm-header-item href="/">Home</ibm-header-item>
	</ibm-header-navigation>
    <ibm-header-global>
        <ibm-header-action title="action">
    		<ibm-icon-notification size="20" class="nav-icon"></ibm-icon-notification>
        </ibm-header-action>
        <ibm-header-action title="action">
			<ibm-icon-user-avatar size="20" class="nav-icon"></ibm-icon-user-avatar>
        </ibm-header-action>
        <ibm-header-action title="action">
			<ibm-icon-app-switcher size="20" class="nav-icon"></ibm-icon-app-switcher>
        </ibm-header-action>
    </ibm-header-global>
</ibm-header>
