.user-search-field {
	display: block;
	width: 100%;
	margin-bottom: 2rem;
}

.table-wrapper {
	border-radius: .25rem;
	overflow: hidden;
}

.main-table {
	width: 100%;
}

tr.table-row:hover {
	background: whitesmoke;
}

tr.table-row:active {
	background: #efefef;
}
