<!-- <DataTable
rows={rowData}
headers={headerData}
render={({ rows, headers, getHeaderProps, getTableProps }) => (
<TableContainer title="DataTable">
  <Table {...getTableProps()}>
	<TableHead>
	  <TableRow>
		{headers.map(header => (
		  <TableHeader {...getHeaderProps({ header })}>
			{header.header}
		  </TableHeader>
		))}
	  </TableRow>
	</TableHead>
	<TableBody>
	  {rows.map(row => (
		<TableRow key={row.id}>
		  {row.cells.map(cell => (
			<TableCell key={cell.id}>{cell.value}</TableCell>
		  ))}
		</TableRow>
	  ))}
	</TableBody>
  </Table>
</TableContainer>)}
/> -->
<ibm-table-container>
	<ibm-table [model]="model"></ibm-table>
</ibm-table-container>
